{% extends "base.html" %}

{% block custom_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Редактирование анкеты студента</h5>
    </div>
    <div class="card-body">
        <form method="post" enctype = "multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Изменить</button>
        </form>
    </div>
</div>
{% endblock %}

{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_mentor').select2();
        });
    </script>
{% endblock %}